<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <h1><a href="{{ path('homepage') }}">Guestbook</a></h1>

            <ul>
                {% for conference in conferences %}
                    <li><a href="{{ path('conference', { slug: conference.slug }) }}">{{ conference }}</a></li>
                {% endfor %}
            </ul>
        </header>

        <main role="main" class="container mt-5">
            {% block body %}{% endblock %}
        </main>

        <footer class="mt-7 px-3 py-5 text-center text-muted">
            <p>
                Conference Guestbook
            </p>
            <p>
                <a href="#" class="text-white">Back to top</a>
            </p>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
